In [ ]:
import pandas as pd
df= pd.read_csv('student_depression_dataset.csv')
df.head()
print(df)
df.info()
df.describe()
df.shape  # عدد الصفوف والأعمدة
df.columns
#df.isnull().sum()
df.dropna(inplace=True)
df.fillna(method='ffill', inplace=True)
15+92+36
from sklearn.metrics import classification_report, accuracy_score

#print("Accuracy:", accuracy_score(y_test, y_pred))
#print(classification_report(y_test, y_pred))

           id  Gender   Age           City Profession  Academic Pressure  \
0           2    Male  33.0  Visakhapatnam    Student                5.0
1           8  Female  24.0      Bangalore    Student                2.0
2          26    Male  31.0       Srinagar    Student                3.0
3          30  Female  28.0       Varanasi    Student                3.0
4          32  Female  25.0         Jaipur    Student                4.0
...       ...     ...   ...            ...        ...                ...
27896  140685  Female  27.0          Surat    Student                5.0
27897  140686    Male  27.0       Ludhiana    Student                2.0
27898  140689    Male  31.0      Faridabad    Student                3.0
27899  140690  Female  18.0       Ludhiana    Student                5.0
27900  140699    Male  27.0          Patna    Student                4.0

       Work Pressure  CGPA  Study Satisfaction  Job Satisfaction  \
0                0.0  8.97                 2.0               0.0
1                0.0  5.90                 5.0               0.0
2                0.0  7.03                 5.0               0.0
3                0.0  5.59                 2.0               0.0
4                0.0  8.13                 3.0               0.0
...              ...   ...                 ...               ...
27896            0.0  5.75                 5.0               0.0
27897            0.0  9.40                 3.0               0.0
27898            0.0  6.61                 4.0               0.0
27899            0.0  6.88                 2.0               0.0
27900            0.0  9.24                 1.0               0.0

            Sleep Duration Dietary Habits      Degree  \
0              '5-6 hours'        Healthy     B.Pharm
1              '5-6 hours'       Moderate         BSc
2      'Less than 5 hours'        Healthy          BA
3              '7-8 hours'       Moderate         BCA
4              '5-6 hours'       Moderate      M.Tech
...                    ...            ...         ...
27896          '5-6 hours'      Unhealthy  'Class 12'
27897  'Less than 5 hours'        Healthy         MSc
27898          '5-6 hours'      Unhealthy          MD
27899  'Less than 5 hours'        Healthy  'Class 12'
27900  'Less than 5 hours'        Healthy         BCA

      Have you ever had suicidal thoughts ?  Work/Study Hours  \
0                                       Yes               3.0
1                                        No               3.0
2                                        No               9.0
3                                       Yes               4.0
4                                       Yes               1.0
...                                     ...               ...
27896                                   Yes               7.0
27897                                    No               0.0
27898                                    No              12.0
27899                                   Yes              10.0
27900                                   Yes               2.0

      Financial Stress Family History of Mental Illness  Depression
0                  1.0                               No           1
1                  2.0                              Yes           0
2                  1.0                              Yes           0
3                  5.0                              Yes           1
4                  1.0                               No           0
...                ...                              ...         ...
27896              1.0                              Yes           0
27897              3.0                              Yes           0
27898              2.0                               No           0
27899              5.0                               No           1
27900              3.0                              Yes           1

[27901 rows x 18 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27901 entries, 0 to 27900
Data columns (total 18 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   id                                     27901 non-null  int64
 1   Gender                                 27901 non-null  object
 2   Age                                    27901 non-null  float64
 3   City                                   27901 non-null  object
 4   Profession                             27901 non-null  object
 5   Academic Pressure                      27901 non-null  float64
 6   Work Pressure                          27901 non-null  float64
 7   CGPA                                   27901 non-null  float64
 8   Study Satisfaction                     27901 non-null  float64
 9   Job Satisfaction                       27901 non-null  float64
 10  Sleep Duration                         27901 non-null  object
 11  Dietary Habits                         27901 non-null  object
 12  Degree                                 27901 non-null  object
 13  Have you ever had suicidal thoughts ?  27901 non-null  object
 14  Work/Study Hours                       27901 non-null  float64
 15  Financial Stress                       27901 non-null  object
 16  Family History of Mental Illness       27901 non-null  object
 17  Depression                             27901 non-null  int64
dtypes: float64(7), int64(2), object(9)
memory usage: 3.8+ MB

C:\Users\ALAMIIA\AppData\Local\Temp\ipykernel_20700\1766692608.py:11: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)